@import "null.scss";
@import "fonts.scss";

html {
	scroll-behavior: smooth;
}

body {
	font-family: Montserrat;
}

.logo {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: 700;
}

.suptitle {
	color: #333333;
	font-family: Kaushan Script;
	font-size: 24px;
	font-weight: 400;
}

.subtitle {
	color: #333333;
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.text {
	color: #999999;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

.button {
	display: block;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	padding: 14px 32px;
	border: 2px solid #FFFFFF;
	white-space: nowrap;
}

.container {
	max-width: 1200px;
	margin: 0 auto;

	@media (max-width: 1200px) {
		max-width: 970px;
	}

	@media (max-width: 992px) {
		max-width: 750px;
	}

	@media (max-width: 772px) {
		max-width: none;
		padding: 0 10px;
	}
}

.left-menu {
	position: fixed;
	z-index: 998;
	background: #FF6347;
	
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	transition: left 1s ease 0s;

	ul {
		display: flex;
		flex-direction: column;

		li {
			padding: 10px 0 10px 20px;
			border-bottom: 1px solid #FF8C00;

			a {
				color: #FFFFFF;
				font-size: 14px;
				font-weight: 400;
				text-transform: uppercase;
			}
		}
	}
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	@media (max-width: 498px) {
		justify-content: flex-end;
	}

	li {
		&:last-child {
			display: none;
		}

		@media (max-width: 498px) {
			display: none;

			&:last-child {
				display: block;
			}
		}

		a {
			display: block;
			color: #FFFFFF;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			position: relative;

			&:hover {
				color: #FCE38A;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 22px;
					width: 100%;
					height: 3px;
					background-color: #FCE38A;
				}
			}
		}
	}
}

#header {
	position: fixed;
	width: 100%;
	z-index: 999;
	transition: all 1s ease 0s;

	@media (max-width: 498px) {
		background: #FF7F50;
	}

	.header__row {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin: 3% 0;

		@media (max-width: 772px) {
			justify-content: space-around;
			padding: 0 10px;
		}

		.header__logo {
			flex: 1 0 20%;
		}

		.header__menu {
			flex: 0 0 40%;

			@media (max-width: 992px) {
				flex: 1 0 60%;
			}
		}
	}
}

.header-active {
	background: #FF7F50;
	box-shadow: 0px 5px 5px #FF7F50;
}

#wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.banner {
	background-image: url('../img/banner-background.jpg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;

	@media (max-width: 772px) {
		height: 100vh;
	}

	.banner-back {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fce38a;
		background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
		opacity: 0.7;
	}

	.banner__column {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		opacity: 1;

		.banner__suptitle {
			margin-bottom: 42px;
			margin-top: 229px;

			@media (max-width: 772px) {
				margin-top: calc(80px + (129 + 129 * 0.7) * ((100vw - 320px) / 1280))
			}

			h2 {
				color: #FFFFFF;
				font-family: "Kaushan Script";
				font-size: 72px;
				font-weight: 400;

				@media (max-width: 1200px) {
					font-size: calc(24px + (48 + 48 * 0.7) * ((100vw - 320px) / 1280));
				}
			}
		}

		.banner__subtitle {
			max-width: 802px;

			h2 {
				color: #FFFFFF;
				font-size: 150px;
				font-weight: 700;
				line-height: 140px;

				@media (max-width: 1200px) {
					font-size: calc(40px + (110 + 110 * 0.7) * ((100vw - 320px) / 1280));
					line-height: calc(30px + (110 + 110 * 0.7) * ((100vw - 320px) / 1280));
				}

				&:after {
					content: '';
					display: block;
					width: 60px;
					height: 3px;
					background: #FFFFFF;
					margin: 71px auto 50px auto;
				}
			}
		}

		.banner__button {
			margin-bottom: 60px;
		}
	}
}

#about {
	padding: 90px 0;
	text-align: center;

	.about__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 15px;

		.about__suptitle {
			margin-bottom: 23px;
		}

		.about__subtitle {
			margin-bottom: 40px;
			&:after {
				content: '';
				display: block;
				width: 60px;
				height: 3px;
				background-color: #F38181;
				margin: 40px auto 0 auto;
			}
		}

		.about__text {
			max-width: 954px;
			margin-bottom: 100px;
		}

		.about__items {
			display: flex;
			flex-direction: row;
			margin: 0 -15px;

			@media (max-width: 772px) {
				flex-wrap: wrap;

				margin: 0;
			}

			.about__item {
				padding: 0 15px;
				flex: 0 1 33.333%;

				@media (max-width: 772px) {
					flex: 1 0 100%;

					padding: 15px;
				}
			}
		}
	}
}

.item {
	position: relative;
	z-index: 2;

	.item__img {
		position: relative;
		z-index: 2;
		bottom: 0;
		right: 0;
		transition: bottom 1s ease 0s, right 1s ease 0s;
		img {
			width: 100%;
			height: 100%;
		}
	}

	.item__gradient {
		z-index: 3;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		background-color: #fce38a;
		background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
		transition: visibility 0s, opacity 0.5s linear;
		transition: bottom 1s ease 0s, right 1s ease 0s;
	}

	.background {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #95E1D3;
	}

	.item__text {
		z-index: 4;
		color: #ffffff;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%, -50%);
		visibility: hidden;
	}

	&:hover {
		cursor: pointer;

		.item__img {
			bottom: 10px;
			right: 10px;
		}

		.item__gradient {
			bottom: 10px;
			right: 10px;
			visibility: visible;
			opacity: 0.7;
		}

		.item__text {
			visibility: visible;
		}
	}
}

.facts {
	background-color: #95E1D3;

	.facts__row {
		display: flex;
		flex-direction: row;
		align-items: baseline;

		@media (max-width: 498px) {
			flex-wrap: wrap;
			align-items: center;
		}

		.facts__item {
			flex: 0 0 20%;
			padding: 45px 0;

			border-left: 1px solid #FFFFFF;

			&:last-child {
				border-right: 1px solid #FFFFFF;

				@media (max-width: 498px) {
					border-right: none;
				}
			}

			@media (max-width: 498px) {
				padding: 45px 0;
				flex: 1 0 100%;
				border-left: none;
				border-bottom: 1px solid #FFFFFF;
			}
		}
	}
}
.fact {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	.fact__number {
		color: #FFFFFF;
		font-family: Montserrat;
		font-size: 72px;
		font-weight: 700;
		margin-bottom: 30px;

		@media (max-width: 1200px) {
			font-size: calc(30px + (42 + 42 * 0.7) * ((100vw - 320px) / 1280));
		}
	}

	.fact__text {
		color: #FFFFFF;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
	}
}

#services {
	padding: 100px 30px 50px 30px;

	.services__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		.services__suptitle {
			margin-bottom: 20px;
		}

		.services__subtitle {
			margin-bottom: 60px;

			&:after {
				content: '';
				display: block;
				width: 60px;
				height: 3px;
				background-color: #F38181;
				margin: 40px auto 0 auto;
			}
		}
	}

	.services__row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 -30px;

		.services__item {
			flex: 0 1 33.333%;
			padding: 50px 30px;

			&:nth-child(1) {
				padding-top: 0px;
				border-bottom: 1px solid #E5E5E5;
			}
			&:nth-child(2) {
				padding-top: 0px;
				border-bottom: 1px solid #E5E5E5;
			}
			&:nth-child(3) {
				padding-top: 0px;
				border-bottom: 1px solid #E5E5E5;
			}

			@media (max-width: 992px) {
				flex: 0 1 50%;

				&:nth-child(1) {
					padding-top: 0px;
					border-bottom: 1px solid #E5E5E5;
				}
				&:nth-child(2) {
					padding-top: 0px;
					border-bottom: 1px solid #E5E5E5;
				}
				&:nth-child(3) {
					padding-top: 50px;
					border-bottom: 1px solid #E5E5E5;
				}
				&:nth-child(4) {
					border-bottom: 1px solid #E5E5E5;
				}
			}

			@media (max-width: 678px) {
				flex: 1 0 100%;

				&:nth-child(1) {
					padding-top: 50px;
				}
				&:nth-child(2) {
					padding-top: 50px;
				}

				border-bottom: 1px solid #E5E5E5;

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}

.service {
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: space-between;

	.service__column {
		display: flex;
		flex-direction: column;

		.service__img {
			font-size: 44px;
			padding-right: 20px;
		}

		.service__title {
			color: #333333;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 15px;
		}

		.service__text {
			color: #999999;
			font-size: 15px;
			font-weight: 400;
		}
	}
}

.feauture {
	background: url('../img/Layer 45@1X.jpeg') 50% 50%/cover no-repeat;

	.feauture__column {
		display: flex;
		flex-direction: column;
		align-items: center;

		.feauture__suptitle {
			margin-top: 110px;
			margin-bottom: 22px;
		}

		.feauture__subtitle {
			margin-bottom: 50px;

			&:after {
				content: '';
				display: block;
				width: 60px;
				height: 3px;
				background-color: #F38181;
				margin: 40px auto 0 auto;
			}
		}

		.feauture__img {
			position: relative;
			max-width: 570px;
			max-height: 660px;
			margin: 0 40px -80px 40px;

			img {
				width: 100%;
				height: 100%;
				position: relative;
				z-index: 1;
			}

			.feauture__phone {
				width: 80%;
				height: 80%;
				position: absolute;
				right: -30%;
				bottom: -3%;
				z-index: 3;

				@media (max-width: 772px) {
					right: 10%;
				}
			}
		}
	}
}

.services2 {
	padding: 110px 0;
	background: #FFFFFF;
	position: relative;
	z-index: 2;

	.services2__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		.services2__suptitle {
			margin-bottom: 20px;
		}

		.services2__subtitle {
			&:after {
				content: '';
				display: block;
				width: 60px;
				height: 3px;
				background-color: #F38181;
				margin: 40px auto 0 auto;
			}
		}

		.services2__text {
			max-width: 952px;
			margin-bottom: 100px;
		}

		.services2__row {
			display: flex;
			flex-direction: row;
			margin: 0 22.5px;

			@media (max-width: 772px) {
				flex-wrap: wrap;
			}

			.services2__item {
				flex: 0 0 50%;
				padding: 0 22.5px;

				display: flex;
				flex-direction: column;

				@media (max-width: 772px) {
					padding: 20px 22.5px;
					flex: 1 0 100%;
				}
			}
		}
	}
}

.service2 {
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	margin: -5px 0;

	.service2__img {
		flex: 1 1 100%;
		padding: 5px 0;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.service2__item {
		width: 100%;
		margin: 5px 0;
		text-align: left;
		flex: 0 1 auto;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		.service2__title {
			padding: 15px;
			border: 1px solid #999999;
			background: #FFFFFF;
			flex: 0 1 auto;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			h2 {
				color:#333333;
				font-weight: 700;
				text-transform: uppercase;
				font-size:14px;
			}

			.service2__arrow {

			}

			&:hover {
				cursor: pointer;
			}
		}

		.service2__text {
			overflow-y: scroll;
			height: 0;
			padding: 0px;
			border: 1px solid #999999;
			border-top: none;
			flex: 1 1 auto;
			-webkit-transition: height 1s ease 0s;
			-moz-transition: height 1s ease 0s;
			-ms-transition: height 1s ease 0s;
			-o-transition: height 1s ease 0s;
			transition: all 1s ease 0s;
		}
	}

	.active {
		flex: 1 1 auto;

		.service2__text {
			height: 150px;
			padding: 15px;
		}
	}
}

.quote {
	background-color:#F8F8F8;
	padding: 20px 30px;

	.quote__row {
		display: flex;
		flex-direction: row;
		margin: 0 -30px;

		@media (max-width: 992px) {
			flex-direction: column;
			align-items: center;
			margin: 0;
			padding: 70px 0;
		}

		.quote__img {
			margin: 10px 30px;
			padding: 40px;
			border: 3px solid #95E1D3;

			img {

			}
		}

		.quote__text {
			margin: 10px 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			p {
				color:#999999;
				font-size:24px;
			}

			h2 {
				color: #333333;
				font-family: Kaushan Script;
				font-size: 24;
				font-weight: 700;

				&:before {
					content: '';
					display: inline-block;
					width: 61px;
					height: 4px;
					background: #F38181;
					margin-right: 10px;
				}
			}
		}
	}
}

.team {
	margin: 100px 0;
	text-align: center;

	.team__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 15px;

		.team__suptitle {
			margin-bottom: 20px;
		}

		.team__subtitle {
			margin-bottom: 40px;

			&:after {
				content: '';
				display: block;
				width: 60px;
				height: 3px;
				background-color: #F38181;
				margin: 40px auto 0 auto;
			}
		}

		.team__text {
			margin-bottom: 40px;
			max-width: 954px;
			text-align: center;
		}

		.team__row {
			display: flex;
			flex-direction: row;
			margin: 0 -14px;

			@media (max-width: 772px) {
				flex-wrap: wrap;
				margin: 0;
			}

			.team__item {
				flex: 0 1 33.333%;
				padding: 0 14px;

				@media (max-width: 772px) {
					flex: 1 1 100%;

					padding: 10px 14px;
				}
			}
		}
	}
}

.people {
	display: flex;
	flex-direction: column;
	position: relative;

	.people__img {
		height: 540px;
		position: relative;

		img {
			object-fit: cover;
			z-index: 2;
			position: relative;
			width: 100%;
			height: 100%;
			bottom: 0;
			right: 0;
			transition: bottom 1s ease 0s, right 1s ease 0s;
		}

		.background {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #95E1D3;
		}

		.people__back {
			z-index: 3;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			visibility: hidden;
			background-color: #fce38a;
			background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
			transition: visibility 0s, opacity 0.5s linear, bottom 1s ease 0s, right 1s ease 0s;
		}
	}

	.people__title {
		text-align: center;
		margin-top: 20px;

		h2 {
			&:nth-child(1) {
				color:#333333;
				font-size:14px;
				margin-bottom: 15px;
			}

			&:nth-child(2) {
				color:#999999;
				font-size:15px;
			}
		}
	}

	&:hover {
		cursor: pointer;

		img {
			bottom: 10px;
			right: 10px;
		}

		.people__back {
			bottom: 10px;
			right: 10px;
			visibility: visible;
			opacity: 0.7;
		}
	}
}

.logos {
	background: #F8F8F8;

	.logos__row {
		margin: 50px 0;
		display: flex;
		flex-direction: row;
		align-items: center;

		@media (max-width: 772px) {
			flex-wrap: wrap;
		}

		.logos__item {
			flex: 0 0 16.666%;

			img {
				display: block;
				margin: auto;
				width: auto;
				height: auto;
			}

			@media (max-width: 992px) {
				img {
					width: 100%;
				}
			}

			@media (max-width: 772px) {
				flex: 0 0 33.333%;

				img {
					width: auto;
				}
			}

			@media (max-width: 482px) {
				flex: 0 0 50%;

				img {
					width: auto;
				}
			}

			@media (max-width: 340px) {
				flex: 1 0 100%;

				img {
					width: auto;
				}
			}
		}
	}
}

#work {
	padding: 100px 0;
	text-align: center;

	.work__column {
		display: flex;
		flex-direction: column;
		align-items: center;

		.work__suptitle {
			margin-bottom: 20px;
		}

		.work__subtitle {
			margin-bottom: 20px;

			&:after {
				content: '';
				display: block;
				width: 60px;
				height: 3px;
				background-color: #F38181;
				margin: 40px auto 0 auto;
			}
		}

		.work__text {
			max-width: 954px;
		}
	}
}

.after-work {
	width: 100%;

	.after-work__row {
		display: flex;
		flex-direction: row;

		.after-work__column {
			flex: 0 0 25%;

			display: flex;
			flex-direction: column;

			.after-work__img {
				height: 390px;

				img {
					object-fit: cover;

					width: 100%;
					height: 100%;
				}
			}

			&:nth-child(3) {
				height: 780px;
				.after-work__img {
					height: 100%;
				}
			}
		}

		@media (max-width: 772px) {
			flex-wrap: wrap;

			.after-work__column {
				flex: 0 0 50%;
			}
		}

		@media (max-width: 480px) {
			flex-wrap: wrap;

			.after-work__column {
				flex: 0 0 100%;
			}
		}
	}
}

.testimonial {
	padding: 20px 30px;

	.testimonial__row {
		display: flex;
		flex-direction: row;
		margin: 0 -30px;

		@media (max-width: 992px) {
			flex-direction: column;
			align-items: center;
			margin: 0;
			padding: 70px 0;
		}

		.testimonial__img {
			flex: 1 1 20%;
			margin: 10px 30px;
			width: 210px;
			height: 210px;
			border-radius: 50%;
			overflow: hidden;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		.testimonial__text {
			flex: 1 1 80%;
			margin: 10px 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			p {
				color:#999999;
				font-size:24px;
			}

			h2 {
				color: #333333;
				font-family: Kaushan Script;
				font-size: 24;
				font-weight: 700;

				&:before {
					content: '';
					display: inline-block;
					width: 61px;
					height: 4px;
					background: #F38181;
					margin-right: 10px;
				}
			}
		}
	}
}

.thinks {
	padding: 110px 40px;
	background: url('../img/Layer 53@1X.png') 50% 50%/cover no-repeat;
	text-align: center;
	position: relative;
	z-index: 1;

	@media (max-width: 772px) {
		padding: 110px 0;
	}

	.thinks__gradient {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #FFFFFF;
		opacity: 0.8;
	}

	.thinks__column {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;

		.thinks__suptitle {
			margin-bottom: 15px;
		}

		.thinks__subtitle {
			margin-bottom: 80px;

			&:after {
				content: '';
				display: block;
				width: 60px;
				height: 3px;
				background-color: #F38181;
				margin: 40px auto 0 auto;
			}
		}

		.thinks__row {
			margin: 0 -40px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			@media (max-width: 772px) {
				margin: 0;
			}

			.thinks__item {
				flex: 0 0 50%;
				padding: 30px 40px;

				@media (max-width: 772px) {
					flex: 0 0 100%;
					padding: 10px 0;
				}
			}
		}
	}
}

.think {
	display: flex;
	flex-direction: row;
	text-align: left;

	.think__column {
		display: flex;
		flex-direction: column;

		.think__img {
			flex: 0 0 112px;
			width: 112px;
			border-radius: 50%;
			margin-right: 29px;
			overflow: hidden;

			@media (max-width: 772px) {
				flex: 0 0 calc(56px + (56 + 56 * 0.7) * ((100vw - 320px) / 1280));
				width: calc(56px + (56 + 56 * 0.7) * ((100vw - 320px) / 1280));
			}

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		h2 {
			font-weight: 700;
			margin-bottom: 15px;
			color:#333333;
			font-size:14px;
		}

		h3 {
			font-style: italic;
			color:#333333;
			font-size:15px;
			margin-bottom: 25px;

			&:after {
				content: '';
				display: block;
				width: 61px;
				width: 4px;
				margin-top: 16px;
				background: #F38181;
			}
		}

		p {
			color:#999999;
			font-size:15px;
		}
	}
}

#blog {
	padding: 100px 0;

	.blog__column {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 0 9px;

		.blog__suptitle {
			margin-bottom: 20px;
		}

		.blog__subtitle {
			margin-bottom: 40px;

			&:after {
				content: '';
				display: block;
				width: 60px;
				height: 3px;
				background-color: #F38181;
				margin: 40px auto 0 auto;
			}
		}

		.blog__row {
			display: flex;
			flex-direction: row;
			margin: 0 -9px;

			.blog__item {
				flex: 0 0 33.333%;
				padding: 5px 9px;
			}

			@media (max-width: 772px) {
				flex-wrap: wrap;

				.blog__item {
					flex: 1 0 100%;
				}
			}
		}
	}
}

.post {
	display: flex;
	flex-direction: column;
	text-align: left;

	.post__img {
		height: 242px;
		margin-bottom: 19px;
		position: relative;

		img {
			position: relative;
			z-index: 1;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		.post__date {
			position: absolute;
			z-index: 2;
			left: -10px;
			bottom: 10px;
			background: #95E1D3;
			color:#FFFFFF;
			padding: 15px;
			width: 61px;
			font-size:30px;
			align:center;

			span {
				font-size: 15px;
				font-style: italic;
			}
		}
	}

	.post__title {
		margin-bottom: 20px;

		h2 {
			color:#333333;
			font-size:14px;
			font-weight: 700;
		}
	}

	.post__text {
		padding-bottom: 19px;
		border-bottom: 1px solid #E5E5E5;
		p {
			color:#999999;
			font-size:15px
		}
	}

	.post__info {
		display: flex;
		flex-direction: row;
		margin-top: 19px;

		.post__views {
			color:#999999;
			font-size:15px;

			img {
				margin-right: 5px;
			}
		}

		.post__messages {
			margin-left: 10px;
			color:#999999;
			font-size:15px;

			img {
				margin-right: 5px;
			}
		}
	}
}

.map {
	padding: 50px 0;
	background: url('../img/Layer 59@1X.jpeg') 50% 50%/cover no-repeat;
	position: relative;
	z-index: 1;

	.map__back {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		background: #FFFFFF;
		opacity: 0.3;
		width: 100%;
		height: 100%;
	}

	.map__column {
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		.map__img {
			margin-bottom: 18px;
		}

		.map__title {
			margin-bottom: 10px;

			h2 {
				color:#F38181;
				font-size:24px;
				text-transform: uppercase;
			}

			&:after {
				content: '';
				display: block;
				width: 61px;
				height: 4px;
				background: #F38181;
				margin: 20px auto 0 auto;
			}
		}
	}
}

.footer {
	padding-top: 70px;

	.footer__column {
		display: flex;
		flex-direction: column;
		align-items: center;

		.footer__row {
			display: flex;
			flex-direction: row;
			margin: 0 -5px;

			.footer__item {
				flex: 0 0 33.333%;
				margin: 0 5px;
			}

			.footer__text {
				padding: 20px 0;
				text-align: center;
				color:#333333;
				font-size:14px;

				span {
					color: #F38181;
				}
			}
		}
	}
}

#contacts {
	padding-bottom: 20px;
	border-bottom: 2px solid #E5E5E5;

	.footer__item {
		flex: 0 0 33.333%;

		&:nth-child(2) {
			padding-left: 30px;
		}
	}

	@media (max-width: 772px) {
		display: none;
	}
}

.info {
	display: flex;
	flex-direction: column;
	text-align: left;

	.info__title {
		margin-bottom: 40px;

		h2 {
			color:#CCCCCC;
			font-size: 36px;
			font-weight: 700;
		}
	}

	.info__text {
		margin-bottom: 40px;

		p {
			color:#999999;
			font-size:15px;
		}
	}

	.info__followers {
		margin-bottom: 30px;

		.followers__count {
			color:#333333;
			font-size:18px;
			font-weight: 700;
			border-bottom: 2px solid #E5E5E5;
			padding-bottom: 17px;
		}

		.followers__net {
			color:#999999;
			font-size:15px;
			font-style: italic;
			padding-top: 17px;
		}
	}

	.info__contact {
		display: flex;
		flex-direction: row;

		input {
			padding: 3%;
			border: 1px solid #E5E5E5;
			font-style: italic;
		}

		button {
			padding: 3% 4%;
			background: #95E1D3;
			color: #FFFFFF;
			text-transform: uppercase;
			font-size: 14px;
		}
	}

	.info__subtitle {
		margin-bottom: 20px;

		h2 {
			color:#333333;
			font-size:14px;
			text-transform: uppercase;
			font-weight: 700;
		}
	}

	.info__item {
		flex: 0 0 80px;
		display: flex;
		flex-direction: row;
		margin: 15px 0;

		.info__column {
			display: flex;
			flex-direction: column;
			margin-right: 10px;

			&:nth-child(1) {
				flex: 0 0 30%;
			}

			&:nth-child(2) {
				flex: 0 0 70%;
			}
		}

		.info__blogimg {

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		.info__blogtitle {
			margin-top: 10px;

			h2 {
				text-transform: uppercase;
				font-weight: 700;
				color:#333333;
				font-size:12px;
			}
		}

		.info__blogtext {
			margin-top: 10px;

			p {
				color:#999999;
				font-size:13px;
				font-style: italic;
			}
		}
	}

	.instagram__container {
		display: flex;
		flex-direction: column;
		max-width: 240px;
		max-height: 240px;

		.instagram__row {
			flex: 0 1 33.333%;
			display: flex;
			flex-direction: row;
			margin: -1px;

			.instagram__img {
				margin: 1px;
				flex: 0 1 33.333%;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.info__more {
		margin-top: 20px;

		a {
			color:#333333;
		font-size:13px;
		font-style: italic;
		}
	}
}